<%- include('partials/header'); -%>
<h1>Contact</h1>
<p><%= contactData %> </p>
<hr/>
<h3>Customer Care Info:</h3>
<h5>Contact No: 8604485XX</h5>
<h5>Email: DailyJournxyx@gmail.com</h5>
<input placeholder="Enter Your Querey">
<button>Submit</button>
<%- include('partials/footer'); -%>
